base_layer = "base"
caps_lock_layer = "shift"

[layers]
base = [
# { scan_code = 0x29, characters = "\u02C6" }, # Modifier Letter Circumflex Accent
# { scan_code = 0x0D, characters = "\u02CB" }, # Modifier Letter Grave Accent
# { scan_code = 0x1B, characters = "\u02CA" }, # Modifier Letter Acute Accent
# { scan_code = 0x2B, characters = "ß" },      # `\` on US layout, `#` key on german layout
  { scan_code = 0x02, characters = "1234567890-" },
  { scan_code = 0x10, characters = "bu.,üpclmfx" },
  { scan_code = 0x1E, characters = "hieaodtrns" },
  { scan_code = 0x2C, characters = "kyöäqjgwvz" },
  { scan_code = 0x2A,   layer = "shift", virtual_key = 0xA0 }, # left shift
  { scan_code = 0xE036, layer = "shift", virtual_key = 0xA1 }, # right shift
  { scan_code = 0x3A,   layer = "symbols" },                   # caps lock
  { scan_code = 0x28,   layer = "symbols" },                   # `'` on US layout, `ä` key on german layout
  { scan_code = 0xE01D, layer = "symbols" },                   # right ctrl key (hack because QMK can only accept modifiers for tap keys)
  { scan_code = 0x56,   layer = "navigation" },                # `>` on german layout
  { scan_code = 0xE038, layer = "navigation" },                # `right alt` US layout, `Alt Gr` on german layout
  { scan_code = 0x021D, virtual_keys = [] },                   # ignored additional scan code from `Alt Gr`
]

shift = [
# { scan_code = 0x29, characters = "\u02C7" }, # Caron
# { scan_code = 0x0D, characters = "\u0327" }, # Combining Cedilla
# { scan_code = 0x1B, characters = "\u0303" }, # Combining Tilde
  { scan_code = 0x02, characters = "°§ℓ»«$€„“”—" }, # TODO: cleanup never used symbols
  { scan_code = 0x10, characters = "BU:;ÜPCLMFX" },
  { scan_code = 0x1E, characters = "HIEAODTRNSß" },
  { scan_code = 0x2C, characters = "KYÖÄQJGWVZ" },
# { scan_code = 0x2A,   layer_lock = "shift" }, # left shift
# { scan_code = 0xE036, layer_lock = "shift" }, # right shift
  { scan_code = 0x56,   layer = "navigation" }, # `>` on german layout
  { scan_code = 0xE038, layer = "navigation" }, # `right alt` US layout, `Alt Gr` on german layout
]

symbols = [
  { scan_code = 0x02, characters = "¹²³›‹¢¥‚‘’—" }, # TODO: cleanup never used symbols
  { scan_code = 0x10, characters = "…_[]^!<>=&" },
  { scan_code = 0x1E, characters = "\\/{}*?()-:@" },
  { scan_code = 0x2C, characters = "#$|~`+%\"';" },
]

navigation = [
    # Navigation
  { scan_code = 0x16, virtual_keys = [0x21, 0x08, 0x26, 0x2E, 0x22] },
  { scan_code = 0x24, virtual_keys = [0x24, 0x25, 0x28, 0x27, 0x23] },
    # Volume Control
  { scan_code = 0x32, virtual_keys = [0xAD, 0xAE, 0xAF] },
    # Override layer switching to allow to hold shift when using arrows
  { scan_code = 0x2A,   virtual_keys = [0xA0] },  # left shift
  { scan_code = 0xE036, virtual_keys = [0xA1] },  # right shift
]
